@import "tailwindcss";

/* noinspection CssInvalidAtRule */
@theme {
  --color-darkest: rgb(10 12 3);
  --color-lightest: rgb(243 247 227);
  --color-green-light: rgb(191 227 198);
  --color-green: rgb(143, 204, 143);
  --color-green-dark: rgb(83, 178, 76);
  --color-green-darker: rgb(44, 128, 38);
  --color-green-darkest: rgb(51, 64, 51);
  --color-blue-light: rgb(153, 167, 191);
  --color-blue: rgb(50 78 143);
  --color-blue-dark: rgb(28 39 76);
  --color-purple: rgb(135 81 158);
  --color-purple-dark: rgb(105, 52, 138);
  --font-os: 'Open Sans Variable', sans-serif;
  --font-ms: 'Montserrat Variable', sans-serif;
  --inset-shadow-b: inset 0 0 6px var(--tw-inset-shadow-color);
  --ul-marker: '–  ';
}

/* noinspection CssInvalidAtRule */
@view-transition {
  /* noinspection CssUnknownProperty */
  navigation: auto;
}

:root {
  @apply bg-lightest text-darkest;
  font-family: 'Open Sans Variable', sans-serif;
}

html {
  @apply overflow-y-scroll scroll-smooth scroll-pt-5;
  margin-left: calc(100vw - 100%);
}

body {
  @apply max-w-6xl mx-auto;
  @media (pointer:coarse) {
    @apply max-sm:px-4;
  }
  @media (pointer:fine) {
    @apply max-md:px-2;
  }
}

:is(header, main, footer) {
  @apply md:px-2.5;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Montserrat Variable', sans-serif;
  @apply relative;

  &:target {
    @apply text-green-dark;

    &:before {
      content: '';
      @apply absolute -left-5 top-1/2 -translate-y-1/2 [border-left:8px_solid_var(--color-green-dark)] [border-bottom:8px_solid_transparent] rotate-135;
    }
  }
}

.greeting-button {
  grid-template-columns: 34px auto;

  @media (width < 640px) {
    grid-template-columns: 26px auto;
  }
}

body:has(.footer-link:hover) .footer-link:not(:hover),
body:has(.footer-link:focus) .footer-link:not(:focus){
  @apply opacity-50;
}

.footer-link:focus {
  @apply !opacity-100;
}

#form {
  label {
    @apply font-medium sm:text-lg;
  }

  input, textarea {
    @apply appearance-none size-full block bg-green-light/30 min-h-[calc(1lh+12px)] px-2.5 py-1.5 border border-dashed border-green-light [transition:border-color_.2s];

    &:placeholder-shown {
      @apply text-green-darkest;
    }

    &:focus {
      @apply border-darkest outline-none;
      &::placeholder {
        @apply opacity-40;
      }
    }
  }

  select {
    @apply appearance-none bg-green-light/30 min-h-[calc(1lh+12px)] px-2.5 py-1.5 border border-dashed border-green-light [transition:border-color_.2s];

    &:focus {
      @apply border-darkest outline-none;
    }

    &:invalid {
      @apply text-green-darkest/50;
    }
  }
}

.md-post {
  /*@apply min-[960px]:mx-24;*/

  & h2 {
    @apply font-bold text-2xl mb-[.5lh];
  }

  & h3 {
    @apply font-bold text-xl mt-[1lh] mb-[.5lh];
  }

  & big {
    @apply block font-medium text-xl my-[1.5lh] md:mx-auto max-w-[50ch] italic mx-4 sm:mx-8;
  }

  & p {
    @apply mb-[1lh] leading-[1.65];
  }

  & ol {
    @apply list-decimal ml-4 mb-5;

    & ::marker {
      @apply text-green-darker;
    }

    & li {
      @apply pl-1;
    }
  }

  & ul {
    @apply list-(--ul-marker) ml-4 mb-5;

    & ::marker {
      @apply text-green-dark;
    }
  }

  & li {
    @apply mb-[.25lh];

    & p {
      @apply m-0;
    }

    & ul, & ol {
      @apply mt-[.25lh] mb-0;
    }
  }

  & code {
    @apply inline-block px-2 py-px mx-px bg-green-light/50 rounded-md;
  }

  & p a, & li a {
    @apply text-blue font-medium border-b border-dashed border-transparent outline-none transition-colors px-px;

    &:hover, &:focus {
      @apply border-blue;
    }
  }

  & :is(h2 a, h3 a, h4 a, h5 a, h6 a) {
    @apply border-b border-dashed border-transparent outline-none transition-colors;

    &:hover, &:focus {
      @apply border-green-dark;
    }
  }

  & em {
    @apply text-green-darker;
  }

  & hr {
    @apply border-0 border-b border-green-light my-[2lh] w-40 mx-auto;
  }

  & img {
    @apply block m-auto p-1.5 border border-green rounded-xs;

    &[src*='#left'] {
      @apply max-md:hidden md:float-left md:m-6 md:ml-0 md:mt-2 md:max-w-[calc(50%_-_1.5rem)];
    }
    &[src*='#right'] {
      @apply max-md:hidden md:float-right md:m-6 md:mr-0 md:mt-2 md:max-w-[calc(50%_-_1.5rem)];
    }
    &[src*='#mobile'] {
      @apply md:hidden mb-6;
    }
  }

  & .post-gallery {
    @apply py-6 px-6.5 bg-green-light rounded-xl inset-shadow-sm inset-shadow-green-dark/40 mb-4;

    & .post-gallery-wrapper {
      @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 justify-between gap-6;

      & img {
        @apply cursor-pointer transition-[scale,opacity];
      }

      & img:not(.viewed) {
        @apply h-50 w-full object-cover p-0 border-none rounded-lg;

        &:hover {
          @apply scale-105;
        }
      }

      &:has(img:hover) {
        & img:not(:hover) {
          @apply opacity-80;
        }
      }

      & img.viewed {
        @apply fixed z-40 inset-0 h-[80%] p-0 rounded-lg;
      }
    }
  }
}



.invisible-scroll {
  @apply [scrollbar-color:transparent_transparent];
  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-0 [&::-webkit-scrollbar-thumb]:bg-transparent;
  @supports (scrollbar-color: black black) {
    scrollbar-width: none;
  }

  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar { @apply !hidden }
  & ::-webkit-scrollbar { @apply !hidden }
}

.custom-scroll-thumb {
  @apply [scrollbar-color:var(--color-green)_transparent];
  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-2.5 [&::-webkit-scrollbar-thumb]:bg-green;
  @supports (scrollbar-color: black black) {
    scrollbar-width: thin;
  }
}



@keyframes waving {
  0% {
    transform: rotate(0) translateY(0);
  }
  20% {
    transform: rotate(0) translateY(-10px);
  }
  40% {
    transform: rotate(-20deg) translateY(-12px);
  }
  55% {
    transform: rotate(10deg) translateY(-10px);
  }
  70% {
    transform: rotate(-30deg) translateY(-8px);
  }
  100% {
    transform: rotate(0) translateY(0);
  }
}

