@import "tailwindcss";

/* noinspection CssInvalidAtRule */
@theme {
  --color-darkest: rgb(10 12 3);
  --color-lightest: rgb(243 247 227);
  --color-green-light: rgb(191 227 198);
  --color-green: rgb(143, 204, 143);
  --color-green-dark: rgb(83, 178, 76);
  --color-blue-light: rgb(153, 167, 191);
  --color-blue: rgb(50 78 143);
  --color-blue-dark: rgb(28 39 76);
  --color-purple: rgb(135 81 158);
  --color-purple-dark: rgb(105, 52, 138);
  --font-os: 'Open Sans Variable', sans-serif;
  --font-ms: 'Montserrat Variable', sans-serif;
  --inset-shadow-b: inset 0 0 6px var(--tw-inset-shadow-color);
}

/* noinspection CssInvalidAtRule */
@view-transition {
  /* noinspection CssUnknownProperty */
  navigation: auto;
}

:root {
  @apply bg-lightest text-darkest;
  font-family: 'Open Sans Variable', sans-serif;
}

html {
  overflow-y: scroll;
  margin-left: calc(100vw - 100%);
}

body {
  @apply max-w-6xl mx-auto;
}

:is(header, main, footer) {
  @apply px-2 sm:px-4;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Montserrat Variable', sans-serif;
}

.greeting-button {
  grid-template-columns: 34px auto;

  @media (width < 640px) {
    grid-template-columns: 26px auto;
  }
}

body:has(.footer-link:hover) .footer-link:not(:hover),
body:has(.footer-link:focus) .footer-link:not(:focus){
  @apply opacity-50;
}

.footer-link:focus {
  @apply !opacity-100;
}

#form {
  label {
    @apply font-medium sm:text-lg;
  }

  input, textarea {
    @apply bg-white min-h-[calc(1lh+12px)] rounded px-2.5 py-1.5 border border-dashed border-green;
    @apply outline-transparent outline-offset-3 outline-3 [transition:outline-color_.2s];

    &:placeholder-shown {
      @apply text-blue;
    }

    &:focus {
      @apply outline-green-light;
      &::placeholder {
        @apply opacity-40;
      }
    }
  }

  select {
    @apply appearance-none bg-white min-h-[calc(1lh+12px)] rounded px-2.5 py-1.5 border border-dashed border-green;
    @apply outline-transparent outline-offset-3 outline-3 [transition:outline-color_.2s];

    &:focus {
      @apply outline-green-light;
    }

    &:invalid {
      @apply text-blue/50;
    }
  }
}



.invisible-scroll {
  @apply [scrollbar-color:transparent_transparent];
  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-0 [&::-webkit-scrollbar-thumb]:bg-transparent;
  @supports (scrollbar-color: black black) {
    scrollbar-width: none;
  }

  -webkit-overflow-scrolling: touch;
  & ::-webkit-scrollbar {
    @apply !hidden;
  }
}

.custom-scroll-thumb {
  @apply [scrollbar-color:var(--color-green)_transparent];
  @apply [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar]:w-2.5 [&::-webkit-scrollbar-thumb]:bg-green;
  @supports (scrollbar-color: black black) {
    scrollbar-width: thin;
  }
}



@keyframes waving {
  0% {
    transform: rotate(0) translateY(0);
  }
  20% {
    transform: rotate(0) translateY(-10px);
  }
  40% {
    transform: rotate(-20deg) translateY(-12px);
  }
  55% {
    transform: rotate(10deg) translateY(-10px);
  }
  70% {
    transform: rotate(-30deg) translateY(-8px);
  }
  100% {
    transform: rotate(0) translateY(0);
  }
}