---
import { Image } from 'astro:assets'
import '@/styles/global.css'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="About me">
  <div class="text-center my-20">
    <figure class="max-w-[450px] mx-auto">
      <div class="relative grid place-items-center h-[300px] overflow-hidden">
        <span class="relative bottom-14 text-2xl font-medium text-white bg-darkest px-4 py-1.5 rounded">
          Work in progress
        </span>
        <Image src="/dog-wip.webp" alt="Brown dog lying on concrete" width="450" height="300" loading="eager" class="absolute -z-1 rounded-lg" />
      </div>
      <figcaption>
        <a href="https://www.pexels.com/photo/photo-of-brown-dog-lying-on-concrete-1737357/"
          target="_blank"
          class=`
            outline-offset-3 outline-1 outline-dashed outline-transparent
            focus:outline-blue-light [transition:outline-color_.2s] px-1.5
        `>
          <small><span class="text-xs opacity-50">Photo by </span>Víctor Panadeiros</small>
        </a>
      </figcaption>
    </figure>

    <p class="mt-10">
      Until I finish this page, you can check my <a href="https://linkedin.com/in/leszczak" target="_blank" class=`
        font-medium text-[#0b66c2] mx-1 px-1
        outline-offset-3 outline-1 outline-dashed outline-transparent hover:outline-blue-light
        focus:outline-blue-light [transition:outline-color_.2s]
      `>
        LinkedIn profile</a> 👀
      <span class="block">
        ...or download my current CV:
      </span>
    </p>
    <div class="grid grid-cols-2 gap-4 mt-4 max-w-xs mx-auto">
      <a href="/pdf/DL%20CV%20PL.pdf" class="inline-block py-2 rounded border border-red-500 bg-red-500/90 text-white transition-colors [&:is(:hover,:focus)]:bg-red-500/10 [&:is(:hover,:focus)]:text-red-500 outline-none">
        <span class="text-xl font-bold">PL</span>
      </a>
      <a href="/pdf/DL%20CV%20ENG.pdf" class="inline-block py-2 rounded border border-blue-500 bg-blue-500/90 text-white transition-colors [&:is(:hover,:focus)]:bg-blue-500/10 [&:is(:hover,:focus)]:text-blue-500 outline-none">
        <span class="text-xl font-bold">ENG</span>
      </a>
    </div>
  </div>
</BaseLayout>