---
import '@/styles/global.css'
import { getCollection } from "astro:content"
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'

const blogPosts = await getCollection('blog')
blogPosts.sort((a, b) => Date.parse(a.data.pubDate) - Date.parse(b.data.pubDate)).reverse()
---

<BaseLayout pageTitle="Blog">
  <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 my-20">
    {blogPosts.map(post => (
      <li>
        <PostCard post={post} />
      </li>
    ))}
  </ul>
</BaseLayout>