---
import '@/styles/global.css'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="About me">
  <div class="text-center my-20">
    Work in progress
  </div>
</BaseLayout>